<ion-navbar *navbar secondary>
<ion-buttons start class="homeBtn" *ngIf="sqlKey == 'paymentHistory'">
    <button (click)="goToHomePage($event)">
      <ion-icon name="back" white></ion-icon>
    </button>
  </ion-buttons>
<ion-title>{{selectedCategory.title}}</ion-title>
<ion-buttons end *ngIf="sqlKey != 'paymentHistory'">
<button (click)="addItem()">
  <ion-icon name="add"></ion-icon>
  {{selectedCategory.addLabelText}}
</button>
</ion-buttons>
</ion-navbar>


<ion-content class="background">

<!-- <ion-list> -->
<ion-item *ngIf="items.length == 0 && sqlKey != 'cash'"
class="mgn-top-30">
<h1>No entries available</h1>
</ion-item>
<!-- </ion-list> -->

<ion-list *ngIf="sqlKey == 'cash'">
<ion-item>
<h1 dark class="mgn-bottom-20">Balance</h1>
<h1 class="balance center"
[ngClass]="{good: !negativeBalance, bad: negativeBalance}">
{{creditcardUsed.balance}} €
</h1>
</ion-item>
<!-- <button favorite full (click)="goToPaymentHisory($event)">
  Payment history
</button> -->

<ion-item>
<h1 dark class="mgn-top-10 mgn-bottom-10">Card used for payment</h1>
<button favorite item-right (click)=toggleCardSelection()>Change</button>
</ion-item>
<ion-item *ngIf="showCreditCardSelection">
<ion-label floating for="cardtype">Select card</ion-label>
<ion-select 
[(ngModel)]="creditcardIndex"
[disabled]="readOnly">
<ion-option placeholder="{{creditcard.cardtype}}"
*ngFor="#creditcard of creditcards; #idx = index" 
[value]="idx" 
(click)="getCreditcard(idx)">
<span class="mgn-right-30">{{creditcard.cardtype}}</span>
<span 
[ngClass]="{goodFnt: !negativeBalance, badFnt: negativeBalance}"
>{{creditcard.balance}} €</span>
</ion-option>
</ion-select>
</ion-item>
<button *ngIf="showCreditCardSelection" 
full favorite (click)="saveSelectedCreditcard(idx)">Use creditcard</button>

<ion-item *ngIf="creditcardUsedExist">
<ion-thumbnail item-left><!-- (click)="viewItem(item, idx)" -->
<img src="img/{{creditcardUsed.cardtype}}.png">
</ion-thumbnail>
<h2>{{creditcardUsed.cardtype}}</h2>
<h4>Balance: 
  <span [ngClass]="{goodFnt: !negativeBalance, badFnt: negativeBalance}">{{creditcardUsed.balance}} €</span>
</h4>
<p>Owner: {{creditcardUsed.valueOwner}}</p>
</ion-item>

<ion-item>
<!-- <div class="mgn-top-10 mgn-bottom-10"> -->
<h1 dark>Articles</h1>
<h2 item-right>
  <span class="mgn-right-20">{{basketValue}} €</span>
</h2>
<!-- </div> -->
<ion-icon name="basket" item-right (click)=toggleArticles()>
<span class="article-basket mgn-left-5 mgn-right-20">
  {{items.length}}
</span>
</ion-icon>
<button *ngIf="items.length != 0" 
item-right (click)=toggleArticles() favorite>{{toggleArticlesText}}</button>
</ion-item>
<div *ngIf="showArticles">
  <ion-item 
  *ngFor="#item of items; #idx = index">
  {{idx + 1 }}. <ion-icon name="pricetag" item-left></ion-icon>
  <div>
    <h2>Name: {{item.name}}</h2>
    <h3>Price: {{item.price}} €</h3>
  </div>
  <button clear item-right (click)="buyArticle(item, idx)">
    Buy
  </button>
  <button clear item-right (click)="removeItem(item, idx)">
    <ion-icon name="trash"></ion-icon>
  </button>
</ion-item>
</div>

<div class="mgn-top-20">
  <button secondary full (click)="buyAll(items, today, paymentHistoryData)">
    Buy All
  </button>
</div>
</ion-list>

<ion-list *ngIf="sqlKey == 'creditcards'">
<ion-item *ngFor="#item of items; #idx = index">
<ion-thumbnail item-left (click)="viewItem(item, idx)">
<img src="img/{{item.cardtype}}.png">
</ion-thumbnail>
<h2>
  {{item.cardtype}} 
  <span class="pull-right">{{item.balance}} €</span>
</h2>
<div (click)="viewItem(item, idx)">
  <p>Owner: {{item.valueOwner}}</p>
  <p>Number: {{item.valueCardNr}}</p>
  <p>Validity Month: {{item.valueValMonth}}</p>
  <p>Validity Month: {{item.valueValMonth}}</p>
  <p>Validity Year: {{item.valueValYear}}</p>
</div>
<button clear item-right (click)="viewItem(item, idx)">
  <ion-icon name="create"></ion-icon>
</button>
<button clear item-right (click)="removeItem(item, idx)">
  <ion-icon name="trash"></ion-icon>
</button>
</ion-item>
</ion-list>

<!-- <div *ngIf="sqlKey == 'paymentHistory'" class="mgn-20">
  <p class="mgn-left-20 dark">Search for prices, articles or dates </p>
</div>
<ion-row class="flexWrap">
  <ion-col width-90><ion-searchbar *ngIf="sqlKey == 'paymentHistory'" [(ngModel)]="searchQuery" (input)="getItems($event)"></ion-searchbar></ion-col>
</ion-row> -->

<div *ngIf="sqlKey == 'paymentHistory'" class="mgn-20">
  <p class="mgn-left-20 dark">Search for prices, articles or dates </p>

<ion-row class="flexWrap">
  <ion-col width-90><ion-searchbar *ngIf="sqlKey == 'paymentHistory'" [(ngModel)]="searchQuery" (input)="getItems($event)"></ion-searchbar></ion-col>
  <ion-col width-10><ion-icon id="cancelSearchBtn" name="close" item-left (click)="goToPaymentHisory($event)"></ion-icon></ion-col>
  <!-- <button name="close" item-left (click)="goToPaymentHisory($event)">Cancel</button> -->
</ion-row>
<ion-list>
  <ion-item>
  <h1 dark>Total spent: </h1>
  <h1 dark item-right class="mgn-right-40">{{basketValue}} €</h1>
  </ion-item>
  <!-- <ion-item></ion-item> -->
  <ion-item *ngFor="#item of items">
  <div [innerHTML]=item></div>
  </ion-item>
</ion-list>

</div>

<!-- <ion-list *ngIf="sqlKey == 'paymentHistory'">
  <ion-item>
    <h1 dark>Total spent: </h1><br>
    <h1 dark item-right>{{calculateBasketValue()}} €</h1>
  </ion-item>
  <ion-item 
  *ngFor="#item of items; #idx = index">
      {{idx + 1 }}. <ion-icon name="pricetag" item-left></ion-icon>
      <h2 item-right>{{item.date}}</h2>
      <h2 dark item-right class="mgn-left-20">{{item.price}} €</h2>
      <div>
        <h2>Name: {{item.name}}</h2>
      </div>
  </ion-item>
</ion-list> -->

<ion-list *ngIf="sqlKey == 'personalIdsLicences'">
<ion-item *ngFor="#item of items; #idx = index">
<ion-thumbnail item-left (click)="viewItem(item, idx)">
<img src="img/{{item.licencetype}}.png">
</ion-thumbnail>
<h2 *ngIf="!item.otherlicencetype">
  {{item.licencetype}} 
</h2>
<h2 *ngIf="item.otherlicencetype">
  {{item.otherlicencetype}} 
</h2>
<div (click)="viewItem(item, idx)">
  <p>Owner: {{item.valueOwner}}</p>
  <p>Number: {{item.valueCardNr}}</p>
  <p>Validity Date: {{item.valueValDate}}</p>
</div>
<button clear item-right (click)="viewItem(item, idx)">
  <ion-icon name="create"></ion-icon>
</button>
<button clear item-right (click)="removeItem(item, idx)">
  <ion-icon name="trash"></ion-icon>
</button>
</ion-item>
</ion-list>

<ion-list *ngIf="sqlKey == 'keys'">
<ion-item *ngFor="#item of items; #idx = index">
<ion-thumbnail item-left (click)="viewItem(item, idx)">
<img src="img/key.png">
</ion-thumbnail>
<h2>
  {{item.name}} 
</h2>
<div (click)="viewItem(item, idx)">
  <h2>Description:</h2>
  <p>{{item.note}}</p>
</div>
<button clear item-right (click)="viewItem(item, idx)">
  <ion-icon name="create"></ion-icon>
</button>
<button clear item-right (click)="removeItem(item, idx)">
  <ion-icon name="trash"></ion-icon>
</button>
</ion-item>
</ion-list>

<ion-list *ngIf="sqlKey == 'tickets'">
<ion-item *ngFor="#item of items; #idx = index">
<ion-thumbnail item-left (click)="viewItem(item, idx)">
<img src="img/{{item.tickettype}}.png">
</ion-thumbnail>
<h2 *ngIf="!item.othertickettype">
  {{item.tickettype}} 
</h2>
<h2 *ngIf="item.othertickettype">
  {{item.othertickettype}} 
</h2>
<div (click)="viewItem(item, idx)">
  <p>Validity Date: {{item.valueValDate}}</p>
</div>
<button clear item-right (click)="viewItem(item, idx)">
  <ion-icon name="create"></ion-icon>
</button>
<button clear item-right (click)="removeItem(item, idx)">
  <ion-icon name="trash"></ion-icon>
</button>
</ion-item>
</ion-list>

<ion-list *ngIf="sqlKey == 'vouchers'">
<ion-item *ngFor="#item of items; #idx = index">
<ion-thumbnail item-left (click)="viewItem(item, idx)">
<img src="img/{{item.vouchertype}}.png">
</ion-thumbnail>
<h2>{{item.valueShopname}}</h2>
<div (click)="viewItem(item, idx)">
  <p *ngIf="!item.othervouchertype">
    {{item.vouchertype}} 
  </p>
  <p *ngIf="item.othervouchertype">
    {{item.othervouchertype}} 
  </p>
  <p>Value: {{item.valueMoney}} €</p>
  <p>Validity Date: {{item.valueValDate}}</p>
</div>
<button clear item-right (click)="viewItem(item, idx)">
  <ion-icon name="create"></ion-icon>
</button>
<button clear item-right (click)="removeItem(item, idx)">
  <ion-icon name="trash"></ion-icon>
</button>
</ion-item>
</ion-list>

<ion-list *ngIf="sqlKey == 'notes'">
<ion-item *ngFor="#item of items; #idx = index">
<ion-thumbnail item-left (click)="viewItem(item, idx)">
<img src="img/clipboard.png">
</ion-thumbnail>
<h2>{{item.valueShopname}}</h2>
<div (click)="viewItem(item, idx)">
  <p *ngIf="!item.othernotetype">
    {{item.notetype}} 
  </p>
  <p *ngIf="item.othernotetype">
    {{item.othernotetype}} 
  </p>
  <p>Name: {{item.name}}</p>
  <p>Date: {{item.date}}</p>
  <p>Description: {{item.description}}</p>
</div>
<button clear item-right (click)="viewItem(item, idx)">
  <ion-icon name="create"></ion-icon>
</button>
<button clear item-right (click)="removeItem(item, idx)">
  <ion-icon name="trash"></ion-icon>
</button>
</ion-item>
</ion-list>


</ion-content>