// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";

.primary {
	color: #265CB7;
}

.dark {
	color: #222;
}
/************* NAVBAR *************/
.add-item-page button.back-button.bar-button.bar-button-default.show-back-button {
	// position: absolute;
	margin-left: 41px;
}

.homeBtn {
    position: absolute;
    left: 10px;
    top: 11px;
}
/*********** END NAVBAR ***********/

.wdth-25 {
	width: 25%!important;
	overflow: hidden!important;
}

.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: #76C2AF;
    color: white;
}

.background-cash {
	background-color: #4F5D73;
}

.flexWrap {
	display: -webkit-flex; 
	-webkit-flex-wrap: wrap; 
	display: flex; 
	flex-wrap: wrap;
}

ion-icon.ion-md-star,
.mandatory {
	font-size: x-small;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.ng-valid[required] input {
  border-bottom-color: #42A948; /* green */
}

input.text-input.ng-valid.ng-dirty.ng-touched {
  border-bottom-color: #a94442; /* red */
}

.alert.alert-danger {
	color: red;
}

.center{
	text-align: center;
	align-self: center;
	display: block;
    margin-left: auto;
    margin-right: auto ;
}

.item h1 {
	font-weight: 100;
}

h1.good,
h1.bad {
	font-size: 3.3em!important;
}

.good {
	background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid #17886B;
    color: #125F4B;
    border-radius: 30px;
    margin: 20px 0 15px 0!important;
}

.bad {
	background-color: rgba(255,0,0,0.2);
    border: 1px solid #BF0000;
    color: #BF0000;
    border-radius: 30px;
    margin: 20px 0 15px 0!important;
}

.goodFnt {
    color: green;
}

.badFnt {
    color: #BF0000;
}

.goodBg {
	background-color: rgba(0, 128, 0, 0.2);
    border: 2px solid green;
}

.badBg {
	background-color: rgba(255,0,0,0.2);
    border: 2px solid #BF0000;
}

.no-border {
	border: none;
}

.mgn-top-30 {
	margin-top: 30px!important;
}

.mgn-top-20 {
	margin-top: 20px!important;
}

.mgn-top-10 {
	margin-top: 10px!important;
}

.mgn-top-5 {
	margin-top: 5px!important;
}

.mgn-right-40 {
	margin-right: 40px!important;
}

.mgn-right-30 {
	margin-right: 30px!important;
}

.mgn-right-20 {
	margin-right: 20px!important;
}

.mgn-right-10 {
	margin-right: 10px!important;
}

.mgn-right-5 {
	margin-right: 5px!important;
}

.mgn-bottom-30 {
	margin-bottom: 30px!important;
}

.mgn-bottom-20 {
	margin-bottom: 20px!important;
}

.mgn-bottom-10 {
	margin-bottom: 10px!important;
}

.mgn-bottom-5 {
	margin-bottom: 5px!important;
}

.mgn-left-30 {
	margin-left: 30px!important;
}

.mgn-left-20 {
	margin-left: 20px!important;
}

.mgn-left-10 {
	margin-left: 10px!important;
}

.mgn-left-5 {
	margin-left: 5px!important;
}

/*******************************************
*********		PAGES 		***************/

/********* 		CASH 		************/
.balance {
	font-size: 4.6rem;
}

.article-basket {
	font-size: 18px;
	font-family: Arial;
	background-color: #4F5D73;
	padding: 2px 10px;
	border-radius: 20px;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
    color: #0C4839;
    border: none;
}

button.searchbar-clear-icon,
button.searchbar-clear-icon.disable-hover.button.button-clear,
.searchbar-input-container ion-icon.ion-md-arrow-back {
    display: none;
}

#cancelSearchBtn {
	margin-top: 23px;
}