<ion-menu type="overlay" [content]="content" hidden>

  <ion-toolbar>
    <button menuToggle>
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-title>Pages</ion-title>
  </ion-toolbar>

  <ion-content>

    <ion-tabs>
      <ion-tab [root]="tab1Home" tabTitle="Home" tabIcon="home"></ion-tab>
      <ion-tab [root]="tab2Creditcards" tabTitle="Creditcards" tabIcon="card"></ion-tab>
      <ion-tab [root]="tab3Notes" tabTitle="Notes" tabIcon="clipboard"></ion-tab>
    </ion-tabs>

  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
