<ion-navbar *navbar secondary>
    <!-- <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
        Home
    </ion-title>
</ion-navbar>

<ion-content class="background">
    <ion-row class="flexWrap">
        <ion-col width-50 *ngFor="#category of categorys" (click)="categoryTapped($event, category)">
            <img src="img/{{category.icon}}" class="center mgn-top-10" />
            <h5 class="center">{{category.title}}</h5>
        </ion-col>
    </ion-row>

    <div *ngIf="selectedCategory" padding>
        You navigated here from <b>{{selectedCategory.title}}</b>
    </div>
</ion-content>
