<ion-navbar *navbar secondary>
  <ion-buttons start class="homeBtn">
    <button (click)="goToHomePage($event)">
      <ion-icon name="menu" white></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
  <span *ngIf="!viewIt">Add&nbsp;</span>
  <span *ngIf="viewIt">Edit&nbsp;</span>
  {{selectedCategory.addLabelText}}
  </ion-title>
<ion-buttons end>
</ion-buttons>
<!-- <ion-buttons end>
<button (click)="saveItem()">Save</button>
</ion-buttons> -->
</ion-navbar>

<ion-content class="background">

  <!-- /************************************************
  **************         CASH        **************
  /***********************************************/ -->
  <form *ngIf="sqlKey == 'cash'" 
  (ngSubmit)="onSubmitSaveCash()" #addItemForm="ngForm">

    <ion-item>
      <ion-label floating for="name" dark>Article name <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
      [(ngModel)]="articlemodel.name"
      [disabled]="readOnly"
      ngControl="name" #spy
      #name="ngForm" 
      focus></ion-input>
    </ion-item>
    <ion-item [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Article name is required
    </ion-item>

    <ion-item>
      <ion-label floating for="price" dark>Price <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
       [(ngModel)]="articlemodel.price"
       [disabled]="readOnly"
       ngControl="price" #spy
      #price="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="price.valid || price.pristine" class="alert alert-danger">
      Price is required
    </ion-item>
    
    <ion-item><ion-icon name="star" danger></ion-icon> <span dark class="mandatory">Mandatory</span></ion-item>
    <button type="submit" [disabled]="!addItemForm.valid"
    *ngIf="!viewIt" full secondary>
      Save Article
    </button>

  </form>

  <!-- /************************************************
  **************         CREDITCARDS        **************
  /***********************************************/ -->
  <form *ngIf="sqlKey == 'creditcards'" 
  (ngSubmit)="onSubmitSaveCard()" #addItemForm="ngForm">

    <ion-item>
      <ion-label floating for="cardtype" dark>Cardtype</ion-label>
      <ion-select 
      [(ngModel)]="creditcardmodel.cardtype"
      [disabled]="readOnly">
        <ion-option *ngFor="#ct of cardtypes" [value]="ct">{{ct}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating for="valueCardNr" dark>Card number <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
      [(ngModel)]="creditcardmodel.valueCardNr"
      [disabled]="readOnly"
      ngControl="valueCardNr" #spy
      #valueCardNr="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueCardNr.valid || valueCardNr.pristine" class="alert alert-danger">
        Card number is required
    </ion-item>

    <ion-item>
      <ion-label floating for="valueOwner" dark>Owner name <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
       [(ngModel)]="creditcardmodel.valueOwner"
       [disabled]="readOnly"
       ngControl="valueOwner" #spy
      #valueOwner="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueOwner.valid || valueOwner.pristine" class="alert alert-danger">
      Owner name is required
    </ion-item>
          
    <ion-item>
      <ion-label floating for="valueValMonth" dark>Validity month <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
       [(ngModel)]="creditcardmodel.valueValMonth"
       [disabled]="readOnly"
       ngControl="valueValMonth" #spy
      #valueValMonth="ngForm"></ion-input>
    </ion-item> 
    <ion-item [hidden]="valueValMonth.valid || valueValMonth.pristine" class="alert alert-danger">
      Validity month is required
    </ion-item>
          
    <ion-item>
      <ion-label floating for="valueValYear" dark>Validity year <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
       [(ngModel)]="creditcardmodel.valueValYear"
       [disabled]="readOnly"
       ngControl="valueValYear" #spy
      #valueValYear="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueValYear.valid || valueValYear.pristine" class="alert alert-danger">
      Validity year is required
    </ion-item>
          
    <ion-item>
      <ion-label floating for="valueSecurityCode" dark>Security code <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
       [(ngModel)]="creditcardmodel.valueSecurityCode"
       [disabled]="readOnly"
       ngControl="valueSecurityCode" #spy
      #valueSecurityCode="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueSecurityCode.valid || valueSecurityCode.pristine" class="alert alert-danger">
      Security code is required
    </ion-item>

    <ion-item>
      <ion-label floating for="cash" dark>Cash value<ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
       [(ngModel)]="creditcardmodel.balance"
       [disabled]="readOnly"
       ngControl="balance" #spy
      #balance="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="balance.valid || balance.pristine" class="alert alert-danger">
      Cash is required
    </ion-item>
    
    <ion-item><ion-icon name="star" danger></ion-icon> <span dark class="mandatory">Mandatory</span></ion-item>
    <button type="submit" [disabled]="!addItemForm.valid"
    *ngIf="!viewIt" full secondary>
      Save Card
    </button>

    <button class="btn btn-default" 
    (click)="onEditCard(item, idx)"
    *ngIf="viewIt" full default>
      Edit Card
    </button>

  </form>

  <!-- /************************************************
  ************         IDs LICENCES        *************
  /***********************************************/ --> 
  <form *ngIf="sqlKey == 'personalIdsLicences'" 
  (ngSubmit)="onSubmitSaveId()" #addItemForm="ngForm">

    <ion-item>
      <ion-label floating for="cardtype" dark>Licence- & ID-type</ion-label>
      <ion-select 
      [(ngModel)]="idmodel.licencetype"
      [disabled]="readOnly">
        <ion-option *ngFor="#ct of licencetypes" [value]="ct">{{ct}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="idmodel.licencetype == 'Other' || idmodel.otherlicencetype != undefined ">
      <ion-label floating for="otherlicencetype" dark>Other card type <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
      [(ngModel)]="idmodel.otherlicencetype"
      [disabled]="readOnly"
      ngControl="otherlicencetype" #spy
      #otherlicencetype="ngForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating for="valueCardNr" dark>Card number <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
      [(ngModel)]="idmodel.valueCardNr"
      [disabled]="readOnly"
      ngControl="valueCardNr" #spy
      #valueCardNr="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueCardNr.valid || valueCardNr.pristine" class="alert alert-danger">
        Card number is required
    </ion-item>

    <ion-item>
      <ion-label floating for="valueOwner" dark>Owner name <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
       [(ngModel)]="idmodel.valueOwner"
       [disabled]="readOnly"
       ngControl="valueOwner" #spy
      #valueOwner="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueOwner.valid || valueOwner.pristine" class="alert alert-danger">
      Owner name is required
    </ion-item>
          
    <ion-item>
      <ion-label for="valueValDate" dark>Validity date</ion-label>
      <ion-input type="date" 
       [(ngModel)]="idmodel.valueValDate"
       [disabled]="readOnly" #spy
      #valueValDate="ngForm"></ion-input>
    </ion-item>
          
    <ion-item>
      <ion-label floating for="valueSecurityCode" dark>Security code</ion-label>
      <ion-input type="number" 
       [(ngModel)]="idmodel.valueSecurityCode"
       [disabled]="readOnly" #spy
      #valueSecurityCode="ngForm"></ion-input>
    </ion-item>
    
    <ion-item><ion-icon name="star" danger></ion-icon> <span dark class="mandatory">Mandatory</span></ion-item>
    <button type="submit" [disabled]="!addItemForm.valid"
    *ngIf="!viewIt" full secondary>
      Save ID Card
    </button>

    <button class="btn btn-default" 
    (click)="onEditCard(item, idx)"
    *ngIf="viewIt" full default>
      Edit ID Card
    </button>

  </form>
  <!-- /************************************************
  ****************         KEYS        *****************
  /***********************************************/ --> 
  <form *ngIf="sqlKey == 'keys'" 
  (ngSubmit)="onSubmitSaveKey()" #addItemForm="ngForm">

    <ion-item>
      <ion-label floating for="name" dark>Key name <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
      [(ngModel)]="keysmodel.name"
      [disabled]="readOnly"
      ngControl="name" #spy
      #name="ngForm" 
      focus></ion-input>
    </ion-item>
    <ion-item [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Key name is required
    </ion-item>

    <ion-item>
      <ion-label floating for="note" dark>Description <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
       [(ngModel)]="keysmodel.note"
       [disabled]="readOnly"
       ngControl="note" #spy
      #note="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="note.valid || note.pristine" class="alert alert-danger">
      Description is required
    </ion-item>
    
    <ion-item><ion-icon name="star" danger></ion-icon> <span dark class="mandatory">Mandatory</span></ion-item>      
    <button type="submit" [disabled]="!addItemForm.valid"
    *ngIf="!viewIt" full secondary>
      Save Key
    </button>

    <button class="btn btn-default" 
    (click)="onEditCard(item, idx)"
    *ngIf="viewIt" full default>
      Edit Key
    </button>

  </form>
  <!-- /************************************************
  ***************         TICKETS        ***************
  /***********************************************/ -->
  <form *ngIf="sqlKey == 'tickets'" 
  (ngSubmit)="onSubmitSaveTicket()" #addItemForm="ngForm">

    <ion-item>
      <ion-label floating for="cardtype" dark>Ticket type</ion-label>
      <ion-select 
      [(ngModel)]="ticketmodel.tickettype"
      [disabled]="readOnly">
        <ion-option *ngFor="#ct of tickettypes" [value]="ct">{{ct}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="ticketmodel.tickettype == 'Other ticket' || ticketmodel.othertickettype != undefined ">
      <ion-label floating for="othertickettype" dark>Other ticket type <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
      [(ngModel)]="ticketmodel.othertickettype"
      [disabled]="readOnly"
      ngControl="othertickettype" #spy
      #otherlicencetype="ngForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating for="valueCardNr" dark>Ticket number</ion-label>
      <ion-input type="number" 
      [(ngModel)]="ticketmodel.valueCardNr"
      [disabled]="readOnly" #spy
      #valueCardNr="ngForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating for="valueOwner" dark>Owner name</ion-label>
      <ion-input type="text" 
       [(ngModel)]="ticketmodel.valueOwner"
       [disabled]="readOnly" #spy
      #valueOwner="ngForm"></ion-input>
    </ion-item>
          
    <ion-item>
      <ion-label for="valueValDate" dark>Validity date <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="date" required
       [(ngModel)]="ticketmodel.valueValDate"
       [disabled]="readOnly"
       ngControl="valueValDate" #spy
      #valueValDate="ngForm"></ion-input>
    </ion-item> 
    <ion-item [hidden]="valueValDate.valid || valueValDate.pristine" class="alert alert-danger">
      Validity date is required
    </ion-item>
    
    <ion-item><ion-icon name="star" danger></ion-icon> <span dark class="mandatory">Mandatory</span></ion-item>      
    <button type="submit" [disabled]="!addItemForm.valid"
    *ngIf="!viewIt" full secondary>
      Save Ticket
    </button>

    <button class="btn btn-default" 
    (click)="onEditTicket(item, idx)"
    *ngIf="viewIt" full default>
      Edit Ticket
    </button>

  </form>
  <!-- /************************************************
  **************         VOUCHERS        ***************
  /***********************************************/ -->
  <form *ngIf="sqlKey == 'vouchers'" 
  (ngSubmit)="onSubmitSaveVoucher()" #addItemForm="ngForm">

    <ion-item>
      <ion-label floating for="cardtype" dark>Voucher type</ion-label>
      <ion-select 
      [(ngModel)]="vouchermodel.vouchertype"
      [disabled]="readOnly">
        <ion-option *ngFor="#ct of vouchertypes" [value]="ct">{{ct}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="vouchermodel.vouchertype == 'Other voucher' || vouchermodel.othervouchertype != undefined ">
      <ion-label floating for="othervouchertype" dark>Other voucher type <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
      [(ngModel)]="vouchermodel.othervouchertype"
      [disabled]="readOnly"
      ngControl="othervouchertype" #spy
      #otherlicencetype="ngForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating for="valueShopname" dark>Shop name <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
       [(ngModel)]="vouchermodel.valueShopname"
       [disabled]="readOnly"
       ngControl="valueShopname" #spy
      #valueShopname="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueShopname.valid || valueShopname.pristine" class="alert alert-danger">
      Owner name is required
    </ion-item>

    <ion-item>
      <ion-label floating for="valueMoney" dark>Voucher value <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="number" required
      [(ngModel)]="vouchermodel.valueMoney"
      [disabled]="readOnly"
      ngControl="valueMoney" #spy
      #valueMoney="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueMoney.valid || valueMoney.pristine" class="alert alert-danger">
        Voucher number is required
    </ion-item>

    <ion-item>
      <ion-label floating for="valueCardNr" dark>Voucher number</ion-label>
      <ion-input type="number" 
      [(ngModel)]="vouchermodel.valueCardNr"
      [disabled]="readOnly" #spy
      #valueCardNr="ngForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating for="valueOwner" dark>Owner name</ion-label>
      <ion-input type="text" 
       [(ngModel)]="vouchermodel.valueOwner"
       [disabled]="readOnly" #spy
      #valueOwner="ngForm"></ion-input>
    </ion-item>
          
    
          
    <ion-item>
      <ion-label for="valueValDate" dark>Validity date <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="date" required
       [(ngModel)]="vouchermodel.valueValDate"
       [disabled]="readOnly"
       ngControl="valueValDate" #spy
      #valueValDate="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="valueValDate.valid || valueValDate.pristine" class="alert alert-danger">
      Validity year is required
    </ion-item>
    
    <ion-item><ion-icon name="star" danger></ion-icon> <span dark class="mandatory">Mandatory</span></ion-item>      
    <button type="submit" [disabled]="!addItemForm.valid"
    *ngIf="!viewIt" full secondary>
      Save Voucher
    </button>

    <button class="btn btn-default" 
    (click)="onEditVoucher(item, idx)"
    *ngIf="viewIt" full default>
      Edit Voucher
    </button>

  </form>
  <!-- /************************************************
  ***************         NOTES        *****************
  /***********************************************/ -->
  <form *ngIf="sqlKey == 'notes'" 
  (ngSubmit)="onSubmitSaveNote()" #addItemForm="ngForm">

    <ion-item>
      <ion-label floating for="notetype" dark>Note type</ion-label>
      <ion-select 
      [(ngModel)]="notemodel.notetype"
      [disabled]="readOnly">
        <ion-option *ngFor="#ct of notetypes" [value]="ct">{{ct}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="notemodel.notetype == 'Other voucher' || notemodel.othernotetype != undefined ">
      <ion-label floating for="othernotetype" dark>Other note type <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text"
      [(ngModel)]="notemodel.othernotetype"
      [disabled]="readOnly"
      ngControl="othernotetype" #spy
      #otherlicencetype="ngForm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating for="name" dark>Name <ion-icon name="star" danger></ion-icon></ion-label>
      <ion-input type="text" required
       [(ngModel)]="notemodel.name"
       [disabled]="readOnly"
       ngControl="name" #spy
      #name="ngForm"></ion-input>
    </ion-item>
    <ion-item [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </ion-item>

    <ion-item>
      <ion-label for="date" dark>Date</ion-label>
      <ion-input type="date" 
      [(ngModel)]="notemodel.date"
      [disabled]="readOnly" 
      #date="ngForm" 
      class="notedate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating for="description" dark>Description</ion-label>
      <ion-textarea type="text" 
       [(ngModel)]="notemodel.description"
       [disabled]="readOnly" #spy
      #description="ngForm"></ion-textarea>
    </ion-item>

    <ion-item><ion-icon name="star" danger></ion-icon> <span dark class="mandatory">Mandatory</span></ion-item>      
    <button type="submit" [disabled]="!addItemForm.valid"
    *ngIf="!viewIt" full secondary>
      Save Note
    </button>

    <button class="btn btn-default" 
    (click)="onEditNote(item, idx)"
    *ngIf="viewIt" full default>
      Edit Note
    </button>

  </form>
</ion-content>